@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

p, h1, h2 {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

#artigo p {
    font-size: 1.2rem;
    margin-top: 15px;
}